<app-shearch></app-shearch>

<div class="productos-grid-container">
  <div
    *ngFor="let producto of productos"
    class="producto-card"
  >
 


    <img [src]="producto.imagenUrl" alt="Producto" class="producto-img" />

    <div class="producto-info">
      <h4 class="producto-nombre">{{ producto.nombre }}</h4>
      <p class="producto-descripcion">{{ producto.descripcion }}</p>

      <div class="producto-actions">
        <button
          pButton
          icon="pi pi-shopping-cart"
          label="Agregar"
          class="p-button-sm p-button-rounded p-button-primary"
        ></button>
      </div>
    </div>
  </div>
   <div *ngIf="sinResultados" class="no-results">
  <p>No se encontro el producto: <strong>{{terminoBusqueda}}</strong></p>
</div>
</div>
